body {
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    overflow-x: hidden;
}

section {
    padding: 50px 0;
    float: left;
    width: 100%;
    position: relative;
}

h1, h2, h3, h4, h5 {
    font-weight: bold;
}

.feature {
    margin-top: 30px;
}

.feature h3 {
    margin-top: 0;
}

.feature-bg {
    background: url("../images/full_width Image.jpg") center center no-repeat;
    min-height: 696px;
    background-size: 100%;
}

.feature-title {
    color: #ffffff;
    padding-top: 250px;
    font-size: 54px;
    font-weight: normal;
}

.feature-title span {
    font-weight: bold;
}

.alternate, a, a:hover {
    color: #ff0000;
}

.font20 {
    font-size: 20px;
}

.service .service-desc {
    margin-top: 60px;
}

.service .service-desc a {
    float: right;
}

.service {
    width: 100%;
    float: left;
    margin-bottom: 50px;
}

ul.news, .social-links {
    list-style-type: none;
    padding-left: 5px;
}

#quick-links {
    background: #000000;
    color: #ffffff;
}

.footer-nav li {
    float: left;
    width: 50%;
}

.footer-nav {
    padding-left: 15px;
}

footer ul li a {
    color: #ffffff;
}

footer ul li {
    margin-bottom: 10px;
}

#copyright {
    background: #dedede;
    padding: 30px 0 15px 0;
}

.social-links li {
    float: left;
    margin-right: 10px;
}

#contact-us {
    background: url("../images/getin touch_image.jpg") no-repeat;
    height: 587px;
    color: #ffffff;
}

form {
    padding-top: 30px;
}

.group {
    position: relative;
    margin-bottom: 45px;
}

form input, textarea {
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid #757575;
    background: transparent;
}

form input:focus, textarea:focus {
    outline: none;
}

/* LABEL ======================================= */
label {
    color: #999;
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

/* active state */
input:focus ~ label, input:valid ~ label {
    top: -20px;
    font-size: 14px;
    color: #ffffff;
}

/* BOTTOM BARS ================================= */
.bar {
    position: relative;
    display: block;
    width: 100%;
}

.bar:before, .bar:after {
    content: '';
    height: 2px;
    width: 0;
    bottom: 1px;
    position: absolute;
    background: #ffffff;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

.bar:before {
    left: 50%;
}

.bar:after {
    right: 50%;
}

/* active state */
input:focus ~ .bar:before, input:focus ~ .bar:after {
    width: 50%;
}

/* HIGHLIGHTER ================================== */
.highlight {
    position: absolute;
    height: 60%;
    width: 100px;
    top: 25%;
    left: 0;
    pointer-events: none;
    opacity: 0.5;
}

/* active state */
input:focus ~ .highlight {
    -webkit-animation: inputHighlighter 0.3s ease;
    -moz-animation: inputHighlighter 0.3s ease;
    animation: inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
    from {
        background: #5264AE;
    }
    to {
        width: 0;
        background: transparent;
    }
}

@-moz-keyframes inputHighlighter {
    from {
        background: #5264AE;
    }
    to {
        width: 0;
        background: transparent;
    }
}

@keyframes inputHighlighter {
    from {
        background: #5264AE;
    }
    to {
        width: 0;
        background: transparent;
    }
}

.green {
    color: #29cb2b;
}

.submit-btn {
    background: none;
    border: none;
    text-transform: uppercase;
    font-size: 20px;
}

.navbar-toggle {
    background: #dedede;
}

.navbar-toggle .icon-bar {
    background: #000000;
}

.navbar-brand {
    height: 82px;
    padding: 0;
}

.nav {
    padding: 20px 0;
    float: right;
}

header {
    position: absolute;
    z-index: 999;
    width: 100%;
}

.nav li a {
    color: #ffffff !important;
    font-weight: bold;
}

.nav li a:hover {
    background: none !important;
    color: #ff0000 !important;
}

.nav li.active a {
    color: #ff0000 !important;
}

.slider-caption {
    font-size: 40px;
    font-weight: bold;
    color: #FFFFFF;
}

.small-caption {
    font-size: 14px;
    color: #FFFFFF;
}

.btn-custom {
    background: #ff0000;
    color: #FFFFFF;
    font-weight: bold;
}

.navbar {
    padding: 10px 0;
}

#page-title {
    margin-top: 80px;
    padding-bottom: 10px;
}

img {
    max-width: 100%;
}

.navbar-collapse.collapse.in {
    background: rgba(0, 0, 0, 0.5);
}

.navbar-collapse.collapse.in ul {
    width: 100%;
}

.navbar-collapse.collapse.in ul li a:hover {
    background: rgba(0, 0, 0, 0.7);
}

@media screen and (min-width: 480px) and (max-width: 768px) {
    .feature-title {
        color: #ffffff;
        padding: 70px 0;
        font-size: 32px;
        font-weight: normal;
        position: relative;
    }

    .feature-bg {
        min-height: auto;
    }
    .navbar-brand {
        width:150px;
    }
    section {
        padding:30px 0;
    }
    .slider-caption {

    }
}

@media screen and (min-width: 820px) and (max-width: 991px) {
    .navbar-brand {
        width:150px;
    }
    header .container {
        width: 820px;
    }
}